<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="../assets/styles/user-styles.css" rel="stylesheet">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-top fixed-top shadow-sm rounded">
      <div class="container-fluid">

        <a class="navbar-brand" href="home.html">
          <img src="../assets/img/Baloot.svg" alt="" width="55" height="55" class="d-inline-block align-text">
          <a class="app-name-navbar align-middle">Baloot</a>
        </a>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <p class="username">#Marshal</p>
            <!-- <a class="btn btn-primary btn-register-nv" href="register.html" role="button">#Marshal</a> -->
          </li>
        </ul>

        <ul class="navbar-nav ">
          <li class="nav-item">
            <a href="#" class="user-cart-reference">
              <div class="d-flex justify-content-between btn btn-primary btn-cart-nv">
                <div>
                  Cart
                </div>
                <div>
                  1
                </div>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </header>

  <div class="container body-container">

    <div class="row">
      <div class="container user-detail">
        <div class="row">
          <div class="col-6">

            <p><img src="../assets/img/Vector (4).png" class="user-info-item" alt=""> Marshal</p>
            <p><img src="../assets/img/Vector (5).png" class="user-info-item" alt=""> Marshal.Mathers@gmail.com</p>
            <p><img src="../assets/img/Vector (6).png" class="user-info-item" alt=""> 1972/10/17</p>
            <p><img src="../assets/img/Vector (7).png" class="user-info-item" alt=""> 20785 Schultes Avenue, Warren, MI
              48091</p>

          </div>
          <div class="col-6">
            <div class="container">
              <div class="row budget">
                <h1 class="">$10000000</h1>
              </div>
            </div>
            <form action="" method="post">
              <div class="row form-outline">
                <input type="number" class="form-control amount-inbox" id="creditAmount" min="0" placeholder="$Amount"
                  required>
              </div>
              <div class="row">
                <button class="btn add-credit-button" type="submit">
                  Add more credit
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <h3 class="text-brown"><img src="../assets/img/Vector (2).png" class="cart-img" alt=""> Cart</h3>

    <div class="row">
      <div class="table-responsive custom-table-responsive">
        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Categories</th>
              <th scope="col">Price</th>
              <th scope="col">Provider ID</th>
              <th scope="col">Rating</th>
              <th scope="col">In Stock</th>
              <th scope="col">In Cart</th>
            </tr>
          </thead>
          <tbody>
            <tr class="spacer">
              <td colspan="100"></td>
            </tr>

            <tr>
              <th scope="row"><a href="product.html"><img src="../assets/img/phone.png" class="cart-product-img"></a>
              </th>
              <td>Galexy S21</td>
              <td>Technology, Phone</td>
              <td>$21000000</td>
              <td>1234</td>
              <td>
                <p class="text-yellow">8.3</p>
              </td>
              <td>
                <p class="text-red">17</p>
              </td>
              <td>
                <div class="counter-btn d-flex justify-content-around">
                  <div><button class="counter-btn-item">-</button></div>
                  <div><button class="counter-btn-item">1</button></div>
                  <div><button class="counter-btn-item">+</button></div>
                </div>
                <!-- <input placeholder="1" type="number" value="" min="1" class="form-control"/> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div>
        <button class="btn pay-button vertical-center" type="submit">
          Pay now!
        </button>
      </div>
    </div>

    <h3 class="text-brown mt-20"><img src="../assets/img/Vector (3).png" class="cart-img" alt=""> History</h3>

    <div class="table-responsive">
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Categories</th>
            <th scope="col">Price</th>
            <th scope="col">Provider ID</th>
            <th scope="col">Rating</th>
            <th scope="col">In Stock</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>

        <tbody>
          <tr class="spacer">
            <td colspan="100"></td>
          </tr>

          <tr>
            <th scope="row"><a href="product.html"><img src="../assets/img/spaghetti.png" class="cart-product-img"></a>
            </th>
            <td>
              <p>Mom's Spaghetti</p>
            </td>
            <td>
              <p>Food</p>
            </td>
            <td>
              <p>$60000</p>
            </td>
            <td>
              <p>313</p>
            </td>
            <td>
              <p class="text-yellow">10</p>
            </td>
            <td>
              <p class="text-red">0</p>
            </td>
            <td>
              <p>3</p>
            </td>
          </tr>

          <tr class="spacer">
            <td colspan="100"></td>
          </tr>

          <tr>
            <th scope="row"><a href="product.html"><img src="../assets/img/microphone.png" class="cart-product-img"></a>
            </th>
            <td>
              <p>Dre's Microphone</p>
            </td>
            <td>
              <p>Technology</p>
            </td>
            <td>
              <p>$4200000</p>
            </td>
            <td>
              <p>4321</p>
            </td>
            <td>
              <p class="text-yellow">8.5</p>
            </td>
            <td>
              <p class="text-red">22</p>
            </td>
            <td>
              <p>1</p>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <footer class="footer">
    <p>2023@ut</p>
  </footer>

</body>

</html>